@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Josefin+Sans:ital,wght@0,400;1,300&family=Luckiest+Guy&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nova Square', cursive;
  font-family: "Rubik Doodle Shadow", system-ui, "Roboto", sans-serif;
  font-weight: 400;
}
h1{
  color: rgb(239, 239, 5);
  font-weight: 700;
}


a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.a-sfide {
    margin: 1px;
    color: rgb(2, 127, 6);
  font-weight: 700;
}
.a-sfide2 {
  margin: 1px;
  color: rgb(248, 4, 4);
  font-weight: 700;
}
  
  .container-tab{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 80rem;
    
  }
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:  0 20px;
  margin: 0 auto;
}
  .d-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .card {
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    font-size: 40px!important;
    background: rgb(246, 248, 246);
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 5px 10px 0 -4px rgba(12, 0, 0, 0.6);
  }
 
  .card:hover {
    box-shadow: 2px 2px 0px 0px;
    color: rgb(21, 21, 21);
    cursor: pointer;
  }
  h1 {
    font-size: 25px;
  }
  @media (min-width: 320px) {
  
    .container-tab {
      width: 100%;
      height: 100%;
      padding: 0 25px;
      
    }
  }
  @media (min-width: 375px) {
    
    .container-tab {
      width: 100%;
      height: 100%;
      padding: 0 25px;
      
    }
    
  }
  @media (min-width: 576px) {
    
    .container-tab {
      width: 100%;
      height: 100%;
      padding: 0 25px;
      
    }
    
    .card {
      width: 150px;
      height: 150px;
      font-size: 50px !important;
    }
   
  }
  
  @media (min-width: 768px) {
    
    .container-tab {
      padding: 0 30px;
     
    }
   
  }
   
  @media (min-width: 992px) {
   
    .container-tab {
      padding: 0 45px;
      
    }
   
  }
  
  @media (min-width: 1200px) {
    
    .container-tab {
      padding: 0 60px;
      
    }
  }